body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}
header {
    background-color: rgb(42, 179, 133);
    color: white;
    text-align: center;
}
h1, h2, h3 {
    color: blue;
}
p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
article {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.example-post {
    font-size: 22px;
    font-weight: 600;
    background-color: #b8e5b8;
    border: 1px solid #02351a;
    text-align: center;
}
footer {
    background-color: rgb(211, 211, 224);
    color: rgb(7, 6, 6);
}