body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
h1, h2,h3{
    color:#1f873a
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

article {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}
/* Mobile Styles - Single Column Layout */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}

/* Desktop Styles - Multi-column Layout */

@media (min-width: 769px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article {
        width: 45%;
    }
}