body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5dadf;
    color: #333333;
}
header {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
}
h1, h2, h3 {
    color: #3b9d34;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
a {
    color: #2d5b2e;
    text-decoration: none;
}
a:visited {
    color: #2d5b2e;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: square;
    padding-left: 22px;
}
.blog-post {
    font-size: 22px;
    font-weight: 600;
    background-color: #b8e5b8;
    border: 1px solid #02351a;
    text-align: center;
}
footer {
    background-color: #02351a;
    color: #ffffff;
}